#color1 {
	background-color: yellow;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	padding: 5px 0;
	height: 70px;
	width: 250px; 
	display: inline-block;
}

#color2{
	background-color: pink;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	padding: 5px 0;
	height: 70px;
	width: 250px;
	display: inline-block;
}

#color3{
	background-color: yellow;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	padding: 5px 0;
	height: 70px;
	width: 250px; 
	display: inline-block;
}