#color1 {
	background-color: #CCCCCC;
	height: 50px;
	width: 50px; 
	display: block;
	border: 1px solid black;
}

#contenedor {
	background-color: #CCCCCC;
	width: 200px;
	display: block;
	border: 1px solid black;
	

}

.cuadrado {
	background-color:#CCCCCC;
	margin: 5px 5px;
	height: 50px;
	width: 50px; 
	display: inline-block;
	border: 1px solid black;
}

#color2, #color3{
	background-color: #CCCCCC;
	height: 50px;
	width: 50px;
	display: inline-block;
	border: 1px solid black;
}

